body {
    color: white;
    background-color: black;
}

#content-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-container {
    width: 60vw;
}